.mailcontainer {
    /* border: 1px solid red; */
    
    position: absolute;
    top: 5vh;
    
    display: flex;
    align-items: top;
    justify-content: left;
    
    padding-top: 10px;

    width: 100vw;
    align-items: stretch;
}

.bar0 {
    border: 1px solid var(--borderColor);
    border-bottom: none;
    order: 1;
    flex-shrink: 0;
    flex-basis: 0;
    padding: 10px;
}

.bar1 {
    /* border: 1px solid var(--borderColor); */
    /* border-bottom: none; */
    order: 2;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 0;
    /* padding: 10px; */
}

.bar2 {
    border: 1px solid var(--borderColor);
    border-bottom: none;
    order: 3;
    flex-grow: 4.5;
    flex-shrink: 0;
    flex-basis: 0;
    padding: 10px;
}

.refreshbtn {
    margin: 5px;
    padding: 0px;
    height: 40px;
    width: 40px;
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColorElement);
}

.registerbtn {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    /* width: 40px; */
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColorElement);
}

select {
    margin: 5px;
    height: 40px;
}

.inboxElement {
    margin-bottom: -1px;
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColorElement);
    
    /* border-left: 3px solid var(--borderColor);
    border-right: 3px solid var(--borderColor); */
    
    /* border-bottom: 1px solid var(--borderColor); */
    padding: 5px;
    height: 10vh;
}

.inboxElement.Selected {
    background-color: var(--color30);
}

.inboxElementBodyPreview {
    color: grey;
}

.mailHeader {
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColorElement);
    margin: 10px;
    padding: 10px;
}

.mailBody {
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColorElement);
    margin: 10px;
    padding: 10px;
}